html, body {
  font-family: "Open Sans";
}
.section {
  background: #999;
  text-align: center;
}

.navbar-right {
  padding-right: 10px;
}

.main-jumbotron {
  height: 400px;
  background: url("../images/jumbotron.jpg");

}

.main-jumbotron h1{
  color: white;
  text-align: center;
  font-weight:200;
}
